:root {
  font-family: "Outfit", sans-serif;
  color-scheme: light dark;
  color: #d9d9d9;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.text-style-s48-w500 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 500;
  color: #d9d9d9;
}

.text-style-s24-w400 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #d9d9d9;
}

.text-style-32-w500 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: #d9d9d9;
}
